<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Keycloak Service Provider">
  <link rel="icon" th:href="@{/img/favicon.ico}">
  <title>Keycloak Service Provider</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"> 
  <!-- Custom styles for this template -->
  <link th:href="@{/css/spring-sp.css}" rel="stylesheet">
</head>
<body class="bg-light">
  <div role="main" class="container">
    <header role="header" class="d-flex align-items-center p-3 my-3 text-white-50 bg-spring-green rounded box-shadow">
      <img class="mr-3" th:src="@{/img/spring-boot.png}" alt="" height="48">
      <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">Keycloak Service Provider</h6>
        <small>
          <span class="badge badge-light">
            <i class="fas fa-code-branch"></i> gitlab.com/begui/sso-poc
          </span>
        </small>
      </div>
    </header>
    <section role="content" class="my-3 p-3 bg-white rounded box-shadow" layout:fragment="content">
		<!-- Page content goes here! -->
    </section>
    <!-- Content ends -->
        <div class="container">
        <br/>
        </div>
  </div>
  <!-- Main ends -->
  <!-- Bootstrap scripts -->
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <!-- Font Awesome scripts -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
</body>

</html>