<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  layout:decorate="~{layout}"
>

<body>
    <!-- Content starts -->
    <section class="my-3 p-3 bg-white rounded box-shadow" layout:fragment="content">
      <div class="alert alert-success" role="alert">
          <small><strong>Well done!</strong> 
          Aww Snap, you logged in.<br/>
          The Keycloak Adapter authentication process works fine.</small>
      </div>
      <p>You are logged as <span class="badge badge-dark" th:text="${username}">null</span>.</p>
      <p>TokenID is  <span class="badge badge-dark" th:text="${userid}">null</span>.</p>
      
      <small class="d-block text-center mt-3" id="sso-btn">
        <a th:href="@{/spsamlapp}" class="btn btn-spring btn-sm">
          <i class="fas fa-sign-out-alt"></i> SP SAML 
        </a>
      </small>
	  <small class="d-block text-center mt-3" id="sso-btn">
        <a th:href="@{/spoauth2app}" class="btn btn-spring btn-sm">
          <i class="fas fa-sign-out-alt"></i> SP Oauth2 
        </a>
      </small>
       <small class="d-block text-center mt-3" id="sso-btn">
        <a th:href="@{/spkeyadpapp}" class="btn btn-spring btn-sm">
          <i class="fas fa-sign-out-alt"></i> Keycloak Adpt 
        </a>
      </small>
	  <small class="d-block text-center mt-3" id="sso-btn">
        <a  th:href="@{/logout}" class="btn btn-spring btn-sm">
          <i class="far fa-user-circle"></i> Logout 
        </a>
      </small>
      
    </section>
    <!-- Content ends -->
</body>

</html>
