<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<body>
  <!-- Content starts -->
  <section class="my-3 p-3 bg-white rounded box-shadow" layout:fragment="content">

    <h6 class="border-bottom border-gray pb-2 mb-0">Welcome to Spring OAuth2 Adapter application: </h6>
     <div class="media text-muted pt-3">
      <i class="fas fa-user-lock fa-2x fa-fw mr-2 spring-green" data-fa-transform="shrink-4"></i>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">About</strong>
        The Service Provider (SP) uses the Spring OAuth2 adaptor to log into keycloak. 
      </p>
    </div>
    <small class="d-block text-center mt-3" id="sso-btn">
      <a th:href="@{/landing}" class="btn btn-spring btn-sm">
        <i class="fas fa-rocket"></i> Login </a>
    </small>
    
  </section>
  <!-- Content ends -->
<body>
  
</html>